<tr class="header">
  <td>
    <a href="https://www.artizyou.com">
      <%= image_tag("mail/logo_artizyou.png", class: "logo") %>
      <span class="logo-subtitle"><%= t('mailer.header.subtitle').html_safe %></span>
    </a>
  </td>
</tr>
<tr>
  <td>
    <br>
    <br>
    <p><%= t('.greeting') %></p>

    <p><%= t('.instruction') %></p>

    <p class="button-container"><%= link_to t('.action'), edit_password_url(@resource, reset_password_token: @token) %></p>

    <p><%= t('.instruction_2') %></p>
    <p><%= t('.instruction_3') %></p>
    <br>
    <p>
      <%= t('mailer.confirmation_instructions.body_3').html_safe %>
      <a class="link" href="https://www.artizyou.com/faq.html">www.artizyou.com/faq</a>
    </p>

    <p>
      <%= t('mailer.confirmation_instructions.body_4').html_safe %>
      <a href="mailto:contact@artizyou.com" class="link"><%= t('mailer.confirmation_instructions.footer_link') %></a><br><br>
      <%= t('mailer.confirmation_instructions.salutations').html_safe %>
    </p>
  </td>
</tr>