<head>
  <meta charset='utf-8'/>
  <title>Certificat Artizyou | Artizyou Certificate</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,700" rel="stylesheet">

  <style type="text/css">
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }

    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
      display: block;
    }

    body {
      line-height: 1;
    }

    ol, ul {
      list-style: none;
    }

    blockquote, q {
      quotes: none;
    }

    blockquote:before, blockquote:after,
    q:before, q:after {
      content: '';
      content: none;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
    }

    body {
      background: #3d3d3d;
      font-family: 'Montserrat', sans-serif;
    }

    .main-container {
      position: relative;
      width: 816px;
      height: 1056px;
      margin: 0 auto;
      background: url(<%= asset_path('b-IP_artizyou_certificate_bg.jpg') %>);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .wrapper {
      padding: 35px 25px;
    }

    table {
      width: 100%;
    }

    .header {
      margin-bottom: 50px;
    }

    .header tr td h1, .header tr td h2 {
      color: #bf8e31;
      font-size: 18px;
      font-weight: 300;
    }

    .header tr td h1 {
      margin-bottom: 5px;
    }

    .header tr td h2 {
      font-size: 22px;
      font-weight: 400;
    }

    .header tr td .add-margin-left {
      margin-left: 187px;
    }

    .lead tr td p {
      font-style: italic;
      font-weight: 300;
      line-height: 1.35;
      padding-bottom: 25px;
    }

    .lead tr td p strong {
      font-style: normal;
      font-weight: 700;
      padding-bottom: 25px;
    }

    .creation-details tr td p {
      font-weight: 300;
      line-height: 1.35;
      margin-bottom: 15px;
    }

    .creation-details tr td p strong {
      font-weight: 600;
    }

    .creation-details tr td p.description-title {
      margin-bottom: 3.5px;
    }

    .creation-details tr td p.description {
      font-style: italic;
    }

    .bottom-wrapper {
      position: absolute;
      bottom: 15px;
      left: 25px;
      width: 766px;
      margin: 0 auto;
    }

    .badge tr td {
      text-align: right;
    }

    .badge tr td img {
      width: 175px;
      margin-right: 50px;
    }

    .footer tr td {
      width: 50%;
      vertical-align: bottom;
    }

    .footer tr td .footer-wrapper .image-wrapper {
      text-align: right;
    }

    .footer tr td .footer-wrapper .image-wrapper img {
      width: 200px;
      margin-bottom: 10px;
    }

    .footer tr td .footer-wrapper p {
      font-size: 12px;
    }

    .footer tr td .footer-wrapper p span {
      color: #666666;
    }

    .footer tr td .footer-wrapper p strong {
      font-weight: 600;
      font-size: 11px;
    }

    .footer tr td p.page-count {
      font-size: 12px;
      text-align: right;
    }

    .creation-image {
      width: 600px;
      height: 600px;
      margin: 0 auto;
    }

    .notice p {
      font-weight: 300;
      line-height: 1.35;
      margin-bottom: 30px;
    }

    .alwaysbreak {
      page-break-before: always;
    }
  </style>
</head>

<body>

<div id="page-1" class="main-container">
  <div class="wrapper">
    <table class="header">
      <tr>
        <td>
          <h1>Certificate of registration of the</h1>
          <h2>b-Intellectual property</h2>
        </td>
        <td>
          <div class="add-margin-left">
            <h1>Certificat d'enregistrement de la</h1>
            <h2>b-Propriété intellectuelle</h2>
          </div>
        </td>
      </tr>
    </table>
    <table class="lead">
      <tr>
        <td>
          <p>
            This registration certificate is issued following a timestamp on the blockchain authenticated by
            the registration key below. <br>
            The copyright in the work described below was registered on the following date:
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            Ce certificat d'enregistrement est transmis à la suite d'un horodatage sur la chaîne de blocs
            authentifiés par la clé d'enregistrement ci-dessous.<br>
            Le droit d'auteur sur l'œuvre décrit ci-dessous a été enregistré à la date suivante:
          </p>
        </td>
      </tr>
    </table>
    <table class="creation-details">
      <tr>
        <td>
          <p>
            Date of Registration - Date d’enregistrement :
            <strong>
              <%= l(creation.registration_date) if creation.registration_date %>
            </strong>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            Registration key - Clé d'enregistrement :
            <strong>
              <%= creation.tx_hash %>
            </strong>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            First Publication - Première publication :
            <strong>
              <%= creation.first_market_use %>
            </strong>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            Title - Titre :
            <strong>
              <%= creation.name %>
            </strong>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            Category - Catégorie(s) :
            <strong>
              <%= creation.categories.map{|c| c.send("name_#{creation.user.language}")}.join(', ') %>
            </strong>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="description-title">Details - Détails : </p>
          <p class="description">
            <%= truncate(creation.description, length: 500) %>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            Owner(s) - Titulaire(s) :
            <strong>
              <%= "#{creation.user.first_name} #{creation.user.last_name} (#{creation.user.email})" %>
            </strong>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            Author - Auteur(s) :
            <strong>
              <%= creation.author %>
            </strong>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            Date of Issuance of Certificate - Date d’emission du certificat :
            <strong>
              <%= l(DateTime.now) %>
            </strong>
          </p>
        </td>
      </tr>
    </table>
    <div class="bottom-wrapper">
      <table class="badge">
        <tr>
          <td>
            <img src="<%= asset_path('badge-artizyou.png') %>" alt="Artizyou Certification Badge">
          </td>
        </tr>
      </table>
      <table class="footer">
        <tr>
          <td>
            <div class="footer-wrapper">
              <div class="image-wrapper">
                <img src="<%= asset_path('logo-artizyou-pdf.png') %>" alt="Artizyou Logo">
              </div>
              <p>
                <span>Certificate registry key: </span>
                <strong>
                  <%= creation.tx_hash %>
                </strong>
              </p>
            </div>
          </td>
          <td>
            <p class="page-count">
              P. 1/2
            </p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div id="page-2" class="main-container alwaysbreak">
  <div class="wrapper">
    <table class="header">
      <tr>
        <td>
          <h1>Certificate of registration of the</h1>
          <h2>b-Intellectual property</h2>
        </td>
        <td>
          <div class="add-margin-left">
            <h1>Certificat d'enregistrement de la</h1>
            <h2>b-Propriété intellectuelle</h2>
          </div>
        </td>
      </tr>
    </table>
    <table class="lead">
      <tr>
        <td>
          <p>
            <strong>Aperçu de la création / Overview of the creation:</strong>
          </p>
        </td>
      </tr>
    </table>
    <div class="creation-image"
         style="background:url(<%= creation.image.url %>);background-size: contain;background-repeat: no-repeat;background-position: center;">
    </div>
    <div class="bottom-wrapper">
      <table class="notice">
        <tr>
          <td>
            <p>
              The user must be informed that in case of death or invalidity to kindly design through legal
              documents,
              who will be entitled to the protected work.<br>
              l'utilisateur doit être informé qu'en cas de décès ou invalidité de bien vouloir designer à
              travers des documents
              légaux, quels seront les ayants droit de l’œuvre protégée.
            </p>
          </td>
        </tr>
      </table>
      <table class="footer">
        <tr>
          <td>
            <div class="footer-wrapper">
              <div class="image-wrapper">
                <img src="<%= asset_path('logo-artizyou-pdf.png') %>" alt="Artizyou Logo">
              </div>
              <p>
                <span>Certificate registry key: </span>
                <strong>
                  <%= creation.tx_hash %>
                </strong>
              </p>
            </div>
          </td>
          <td>
            <p class="page-count">
              P. 2/2
            </p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

</body>